<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Enroute - 5H-Enroute-Kerala-Houseboat-Highlights</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--Flaticons CSS-->
    <link href="font/flaticon.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="css/plugin.css" rel="stylesheet" type="text/css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .font18 {
            font-size: 18px;
        }

        @media only screen and (min-width: 600px) {
            .navbar.navbar-default.navbar-sticky-function {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        .timelineMeals {
            color: rgb(119, 119, 119);
        }

        .inclusionWidth {
            width: 90% !important;
        }

        @media only screen and (max-width: 475px) {
            .breadcrumb-outer h2 {
                font-size: 30px;
            }
        }

        @media only screen and (max-width: 395px) {
            .breadcrumb-outer h2 {
                font-size: 27px;
            }
        }

        @media only screen and (max-width: 428px) {
            .detail-info-content h2 {
                font-size: 25px;
            }
        }

        @media only screen and (max-width: 383px) {
            .detail-info-content h2 {
                font-size: 23px;
            }
        }

        .in_th_brdr_img_030>.carousel-indicators li {
            height: 60px;
        }

        .in_th_brdr_img_030>.carousel-indicators li.active {
            height: 60px;
        }
    </style>
</head>

<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status"></div>
    </div> -->
    <!-- Preloader Ends -->

    <!-- Header -->
    <header>
        <div class="upper-head clearfix">
            <div class="container">
                <div class="contact-info">
                    <p><i class="fa fa-phone"></i> Phone: <a style="color: white;" href="tel:7447557691">
                            (091)-7447557691</a></p>
                    <p><i class="fa fa-envelope"></i> Mail: <a style="color: white;"
                            href="mailto:shivam@enroute-tours.com">shivam@enroute-tours.com</a> </p>
                </div>
                <div class="login-btn pull-right">
                    <a href="#"><i class="fa fa-user-plus"></i> Register</a>
                    <a href="#"><i class="fa fa-unlock-alt"></i> Login</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends -->

    <!-- Navigation Bar -->
    <div class="navigation">
        <div class="container">
            <div class="navigation-content">
                <div class="header_menu">
                    <!-- start Navbar (Header) -->
                    <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">

                        <div class=" pull-left" style="display: flex !important;">
                            <!-- <a href="/home"><img alt="Image" src="images/Yatra-01.png"></a> -->
                            <a href="/"><img width="175" height="60" alt="Image"
                                    src="images/IMG-20230804-WA0008 (2).jpg"></a>
                            <a href="/"><img width="175" height="60" alt="Image" src="images/enroute.jpg"></a>
                        </div>
                        <div id="navbar" class="navbar-nav-wrapper">
                            <ul class="nav navbar-nav" id="responsive-menu">
                                <li class="active">
                                    <a href="/">Home <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="#">Travel</a>
                                        <ul>
                                            <li><a href="/home">Home Slider</a></li>
                                            <li><a href="index-banner.html">Home Banner</a></li>
                                            <li><a href="index-video.html">Home Video</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index-1.html">Travel Style 2</a></li>
                                    <li><a href="index-2.html">Travel Style 3</a></li>
                                    <li><a href="index-3.html">Travel style 4</a></li>
                                    <li><a href="index-4.html">Travel New</a></li>
                                </ul> -->
                                </li>
                                <!-- <li>
                                <a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">Destination</a>
                                        <ul>
                                            <li>
                                                <a href="#">Grid View</a>
                                                <ul>
                                                    <li><a href="destination-2col.html">Grid View 2 Col</a></li>
                                                    <li><a href="destination-3col.html">Grid View 3 Col</a></li>
                                                    <li><a href="destination-4col.html">Grid View 4 Col</a></li>
                                                    <li><a href="destination-sidebar.html">Grid with sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">List View</a>
                                                <ul>
                                                    <li><a href="destination-fullwidth.html">List no sidebar</a>
                                                    </li>
                                                    <li><a href="destination-list-sidebar.html">List with
                                                            sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="tour-detail.html">Detail Default</a>
                                        <ul>
                                            <li><a href="tour-detail.html">Detail Default</a></li>
                                            <li><a href="detail-tabs.html">Detail Tabs</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="booking.html">Booking & Payment</a>
                                        <ul>
                                            <li><a href="booking.html">Booking Page</a></li>
                                            <li><a href="booking-confirmation.html">Booking Confirmation</a></li>
                                            <li><a href="payment.html">Payment Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="price-list.html">Price List</a></li>
                                    <li><a href="error.html">Error Page</a></li>
                                    <li><a href="aboutus.html">About Page</a></li>
                                    <li><a href="contactus.html">Contact Us</a></li>
                                </ul>
                            </li> -->
                                <li>
                                    <a href="#">Hotel <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="hotel.html">Hotel Homepage</a></li>
                                    <li> <a href="grid-view.html">Grid View</a></li>
                                    <li><a href="list-view.html">List View</a></li>
                                    <li><a href="hotel-detail.html">Detail Page</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#">Flights<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="flight.html">Flight Homepage</a></li>
                                    <li> <a href="flight-grid-view.html">Grid View</a></li>
                                    <li><a href="flight-list-view.html">List View</a></li>
                                    <li><a href="flight-detail.html">Detail Page</a></li>
                                    <li><a href="flight-booking.html">Booking</a></li>
                                    <li><a href="flight-confirm.html">Thank You</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Cars<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="car-grid-view.html">Car Grid View</a></li>
                                    <li><a href="car-list-view.html">Car List View</a></li>
                                    <li><a href="car-detail.html">Car Detail Page</a></li>
                                    <li><a href="car-booking.html">Payment</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Train<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="cruise-grid-view.html">Cruise Grid View</a></li>
                                    <li><a href="cruise-list-view.html">Cruise List View</a></li>
                                    <li><a href="cruise-detail.html">Cruise Detail Page</a></li>
                                    <li><a href="cruise-booking.html">Payment</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#">Cruise <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="dashboard-my-profile.html">Dashboard Profile</a></li>
                                    <li><a href="dashboard-booking.html">Dashboard Bookings</a></li>
                                    <li><a href="dashboard-history.html">Dashboard History</a></li>
                                    <li><a href="dashboard-list.html">Dashboard Listing</a></li>
                                    <li><a href="dashboard-addtour.html">Dashboard Add Tour</a></li>
                                    <li><a href="dashboard-reviews.html">Dashboard Reviews</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Services <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a>VISA Services</a></li>
                                        <li><a>Travel Insurance</a></li>
                                        <li><a>Passport Assistance</a></li>
                                        <li><a>Train Bookings</a></li>
                                        <li><a>Flight Bookings</a></li>
                                        <li><a>Car Rentals</a></li>
                                        <li><a>Hotel Bookings</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="blog-list.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-list-1.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-list-2.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-list-3.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-detail.html">Blog Detail Right Sidebar</a></li>
                                    <li><a href="blog-detail-fw.html">Blog Detail Fullwidth</a></li>
                                </ul> -->
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                        <div id="slicknav-mobile"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation Bar Ends -->

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your request has been successfully submitted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal2" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank You for Subscribing to Enroute!.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
        <div class="container">
            <div class="breadcrumb-content">
                <h2> KERALA HOUSEBOAT HIGHLIGHTS</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Destinations</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> KERALA HOUSEBOAT HIGHLIGHTS</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <section class="main-content detail">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-8">
                    <div class="detail-content content-wrapper">
                        <div class="detail-info">
                            <div class="detail-info-content clearfix">
                                <h2>6 DAYS / 5 NIGHTS - 4 CITIES</h2>
                                <p class="detail-info-price"><span class="bold" style="font-size: 28px;"><span
                                            class="fa fa-inr"></span> 16,000 /- <i class="fa fa-user-o"
                                            aria-hidden="true"></i></span></p>
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="gallery detail-box">
                              <!-- Paradise Slider -->
                              <div id="in_th_030"
                              class="carousel slide in_th_brdr_img_030 thumb_scroll_x swipe_x ps_easeOutQuint"
                              data-ride="carousel" data-pause="hover" data-interval="4000" data-duration="2000">
                              <ol class="carousel-indicators">
                                     <!-- 2nd Indicator -->
                                     <li data-target="#in_th_030" data-slide-to="0">
                                      <!-- 2nd Indicator Image -->
                                      <img src="images/munnar.jpg"
                                          alt="in_th_030_02_sm" />
                                  </li>
                                  <!-- 1st Indicator -->
                                  <li data-target="#in_th_030" data-slide-to="1" class="active">
                                      <!-- 1st Indicator Image -->
                                      <img src="images/thekkady.png"
                                          alt="in_th_030_01_sm" />
                                  </li>
                              
                                  <!-- 3rd Indicator -->
                                  <li data-target="#in_th_030" data-slide-to="2">
                                      <!-- 3rd Indicator Image -->
                                      <img src="images/kerela-main.jpg" alt="in_th_030_03_sm" />
                                  </li>
                                  <li data-target="#in_th_030" data-slide-to="3">
                                      <!-- 3rd Indicator Image -->
                                      <img src="images/alleppey (2).jpg"
                                          alt="in_th_030_03_sm" />
                                  </li>
                              </ol> <!-- /Indicators -->
                              <!-- Wrapper For Slides -->
                              <div class="carousel-inner" role="listbox">
                                   <!-- Second Slide -->
                                   <div class="item">
                                      <!-- Slide Background -->
                                      <img src="images/munnar.jpg"
                                          alt="in_th_030_02" />
                                  </div>
                                  <!-- End of Slide -->
                                  <!-- First Slide -->
                                  <div class="item active">
                                      <!-- Slide Background -->
                                      <img src="images/thekkady.png"
                                          alt="in_th_030_01" />
                                  </div>
                                  <!-- End of Slide -->
                      
                                  <!-- Third Slide -->
                                  <div class="item">
                                      <!-- Slide Background -->
                                      <img src="images/kerela-main.jpg" alt="in_th_030_03" />
                                  </div>
                                  <!-- End of Slide -->
                                  <div class="item">
                                      <!-- Slide Background -->
                                      <img src="images/alleppey (2).jpg"
                                          alt="in_th_030_03" />
                                  </div>
                              </div> <!-- End of Wrapper For Slides -->
                          </div> <!-- End Paradise Slider -->
                        </div>
                        <div class="description detail-box">
                            <div class="detail-title">
                                <h3>Description</h3>
                            </div>
                            <div class="description-content">

                                <p>Embark on a mesmerizing 6-day, 5-night journey through the heart of Kerala, from the
                                    vibrant streets of Cochin to the misty hills of Munnar, the wild wonders of
                                    Thekkady, and the serene backwaters of Alleppey. This carefully crafted itinerary
                                    seamlessly blends cultural exploration, nature's bounty, and tranquil escapes.
                                    Indulge in the unique flavors of each destination, creating memories that linger
                                    long after your return. Join us on this enchanting expedition, promising an
                                    immersive experience in the diverse landscapes and rich heritage of "God's Own
                                    Country."
                                    Book your 6 days Kerala escape now and let the magic unfold!
                                <p class="timelineMeals">Explore Kerala like never before!!!</p>
                                </p>
                                <table>
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="title">Departure</td>
                                            <td><i class="fa fa-map-marker" aria-hidden="true"></i> ***</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Departure Time</td>
                                            <td><i class="fa fa-clock-o" aria-hidden="true"></i> ***</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Maximum travellers</td>
                                            <td><i class="fa fa-user-o" aria-hidden="true"></i> 25</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Scheduled Dates</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> ***</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> ***</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> ***</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 8th - 16th
                                                        Sept
                                                        ***</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Includes</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Travel </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Accommodation
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Houseboat Lunch
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Breakfast &
                                                        Dinner</li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Sightseeing
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Tour Manager
                                                        Assistance</li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Entry fee,
                                                        Parking </li>
                                                    <!-- <li><i class="fa fa-check" aria-hidden="true"></i> Travel Insurance
                                                    </li> -->
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Road Permits/
                                                        Taxes</li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i> Professional
                                                        Guide</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Excludes</td>
                                            <td class="excludes">
                                                <ul>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Airfare / Train
                                                        Journey</li>
                                                    <!-- <li><i class="fa fa-times" aria-hidden="true"></i> Taxes</li> -->
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Upgradation in
                                                        Hotels</li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Personal expenses
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Lunch
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Forced Major
                                                        Situation Expense
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Boating/ Monument
                                                        Fees
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i> Cost to illness,
                                                        accident
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Popular Places</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Cochin</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Munnar
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Thekkady
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Alleppey
                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="location-map detail-box">
                            <div class="detail-title">
                                <h3>Detailed Location Map</h3>
                            </div>
                            <div class="map-frame">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d1003394.4183086129!2d76.19412817831098!3d9.83870898420802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sCochin%2C%20Kerala!3m2!1d9.9312328!2d76.26730409999999!4m5!1s0x3b0799794d099a6d%3A0x63250e5553c7e0c!2sMunnar%2C%20Kerala!3m2!1d10.088933299999999!2d77.05952479999999!4m5!1s0x3b0653f4b0f74c11%3A0x13a6e9c5ab30cf35!2sThekkady%2C%20Kerala!3m2!1d9.583920299999999!2d77.1182932!4m5!1s0x3b0884f1aa296b61%3A0xb84764552c41f85a!2sAlleppey%2C%20Kerala!3m2!1d9.498066699999999!2d76.3388484!5e0!3m2!1sen!2sin!4v1703406989808!5m2!1sen!2sin"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="detail-timeline detail-box">
                            <div class="detail-title">
                                <h3>Tour Timeline</h3>
                            </div>
                            <div class="timeline-content">
                                <ul class="timeline">
                                    <!-- Item 1 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>1</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 1 : Cochin </span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Upon your arrival at Cochin Airport or Railway Station, our
                                                    dedicated transporter will warmly welcome you. Embark on a
                                                    delightful exploration of Cochin, known as the "Queen of the Arabian
                                                    Sea." Marvel at the iconic Chinese fishing nets, stroll along the
                                                    scenic Marine Drive, and visit the historically significant St.
                                                    Francis Church at Fort Cochin.
                                                    Continue your day with visits to the Jewish Synagogue in
                                                    Muttancherry, the oldest active synagogue in the Commonwealth of
                                                    Nations, and the Dutch Palace, a masterpiece of Kerala-style
                                                    architecture. As the day unfolds with historical and cultural
                                                    treasures, soak in the vibrant atmosphere of Cochin. Your overnight
                                                    stay promises both comfort and an immersive cultural experience</p>
                                                <p class="timelineMeals">Meals - Dinner.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 2 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>2</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 2 : Cochin - Munnar</span>
                                            </div>
                                            <div class="desc">
                                                <p>Today, embark on a scenic drive to Munnar, renowned for its lush
                                                    green hills and tea plantations. Enroute, be captivated by the
                                                    beauty of Cheeyapara and Valara waterfalls. Check into your hotel
                                                    upon arrival, and enjoy a leisurely evening followed by a delightful
                                                    dinner. Your overnight stay in Munnar promises relaxation amidst the
                                                    breathtaking landscapes. </p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 3 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>3</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 3 : Munnar</span>
                                            </div>
                                            <div class="desc">
                                                <p>Today's exploration in Munnar includes a visit to the picturesque
                                                    Mattupatty Dam, offering optional boating at the Sun Moon Valley.
                                                    Later, discover the enchanting Echo Point, Munnar's tea plantations
                                                    with a museum and factory, Kundala Lake, and the captivating
                                                    Rajamalai (Eravikulam) National Park. Return to the hotel for a
                                                    delightful dinner, ensuring a restful overnight stay in Munnar.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 4 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>4</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 4 : Munnar – Thekkady / Periyar</span>
                                            </div>
                                            <div class="desc">
                                                <p>After a delightful breakfast, head to Thekkady, checking in upon
                                                    arrival. Experience the enchanting Periyar Wildlife Sanctuary with a
                                                    boat ride on Periyar Lake, known for its Elephant and Tiger
                                                    reserves. Opt for an Elephant ride for an extra thrill. In the
                                                    evening, indulge in shopping at Kumily Spice Village and immerse
                                                    yourself in the cultural richness of Kerala with the renowned
                                                    Kathakali folk dance. Return to the hotel for a delicious dinner,
                                                    promising a comfortable and memorable overnight stay in Thekkady.
                                                </p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>5</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 5 : Thekkady – Alleppey / Alappuzha</span>
                                            </div>
                                            <div class="desc">
                                                <p>Following hotel check-out and a satisfying breakfast, continue your
                                                    journey to Alleppey, renowned as the "Venice of the East." Upon
                                                    arrival, check in to your houseboat. Revel in the most beautiful
                                                    Kerala Backwaters Ride, where the scenic beauty of lush paddy fields
                                                    and swaying coconut trees unfolds as you sail through the tranquil
                                                    waterways. Your overnight stay in the Alleppey Houseboat promises a
                                                    unique and memorable experience amidst the enchanting backwaters of
                                                    Kerala.</p>
                                                <p class="timelineMeals">Meals - Breakfast, Lunch & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>6</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 6 : Alleppey – Cochin</span>
                                            </div>
                                            <div class="desc">
                                                <p>Bid farewell to a memorable holiday after checking out and enjoying
                                                    breakfast. We'll drop you at Cochin Airport/Railway Station for your
                                                    journey back home. Stay connected through Facebook, Instagram,
                                                    WhatsApp, and Email, and we look forward to welcoming you on another
                                                    unforgettable adventure soon. See you soon, and safe travels!
                                                </p>
                                                <p class="timelineMeals">Meals - Breakfast </p>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="top-attractions detail-box">
                            <div class="detail-title">
                                <h3>Hotels and Accommodation</h3>
                            </div>
                            <div class="top-attraction-content">
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/yuvarani cochin.jpg" alt="yuvaranicochin">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Cochin - Hotel Yuvarani or similar</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Restaurant Bar</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 3000</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/bellmount munnar.jpg" alt="bellmount munnar">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Munnar- Hotel Bellmount or similar</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 3500</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/enroute thekkady.jpg" alt="enroute thekkady">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Thekkady - Hotel Enroute Thekkady or similar</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Child Friendly</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 2200</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/AlleppeyDeluxe Houseboat.jpg" alt="AlleppeyDeluxe Houseboat">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Alleppey – Deluxe Houseboat</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <!-- <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Swimming Pool</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Restaurant Bar</li> -->
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 2100</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comments detail-box">
                            <div class="detail-title">
                                <h3>Comments</h3>
                            </div>
                            <div class="comment-content">
                                <div class="comment-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <div class="comment-image">
                                                <img src="images/anvi.jpg" alt="Images">
                                                <h4><a href="#">Anvi Kharote</a></h4>
                                                <span class="comment-date">(23 Sept 2023)</span>
                                                <a class="btn-blue btn-red" href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-8">
                                            <div class="comment-desc">
                                                <span class="travel-date"> Travelled On : 8th September 2023</span>
                                                <div class="deal-rating">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <p>Loved every moment of this tour! From the breathtaking landscapes to
                                                    the immersive cultural experiences, it was a journey of a lifetime.
                                                    Can't wait to embark on another adventure with Enroute! </p>
                                            </div>
                                            <div class="comment-item comment-reply">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-4">
                                                        <div class="comment-image">
                                                            <img src="images/shivam.jpg" alt="Images">
                                                            <h4><a href="#">Shivam Rajapurkar</a></h4>
                                                            <span class="comment-date">(23 Sept 2023)</span>
                                                            <!-- <a class="btn-blue btn-red" href="#">Reply</a> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="comment-desc">
                                                            <!-- <span class="travel-date"> Travelled On : 25 March
                                                                2018</span> -->
                                                            <div class="deal-rating">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </div>
                                                            <p>Thank you so much Anvi for your kind words! We're
                                                                thrilled to hear that you had an amazing time on our
                                                                tour. Join us again for more adventures in the future!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments-form detail-box">
                            <div class="detail-title">
                                <h3>Add Your Comment</h3>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="textarea form-group col-xs-12">
                                        <label for="Name">Your Comment:</label>
                                        <textarea></textarea>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="Name">Name:</label>
                                        <input type="email" class="form-control" id="Name">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="email">Email address:</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <!-- <div class="form-group col-xs-12">
                                        <label for="website">Website:</label>
                                        <input type="email" class="form-control" id="website">
                                    </div> -->
                                    <div class="col-xs-12">
                                        <div class="comment-btn">
                                            <a href="#" class="btn-blue btn-red">Submit Comment</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="sidebar-sticky" class="col-md-4">
                    <aside class="detail-sidebar sidebar-wrapper">
                        <div class="sidebar-item sidebar-item-dark">
                            <div class="detail-title">
                                <h3>Book this tour</h3>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <input type="text" class="form-control" id="Name1" placeholder="Name">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="email" class="form-control" id="email1" placeholder="Email">
                                    </div>
                                    <div class="form-group col-xs-6 col-left-padding">
                                        <input type="number" class="form-control" id="phnumber1"
                                            placeholder="Phone Number">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                    <div class="form-group col-xs-6 col-left-padding">
                                        <input type="number" placeholder="No of Explorers" class="form-control" min="1"
                                            max="500" id="phnumber">
                                    </div>
                                    <div class="textarea col-xs-12">
                                        <textarea placeholder="Any message for us ?" id="textarea"></textarea>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="comment-btn">
                                            <a class="btn-blue btn-red book-now">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-item">
                            <div class="detail-title">
                                <h3>Popular Packages</h3>
                            </div>
                            <div class="sidebar-content sidebar-slider">

                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/jaipur-sideimg.jpg" alt="Jaipur">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="tour-detail">Cultural Odyssey in Jaipur</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 8,500</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/himalaya-sideimg.jpg" alt="Himalaya">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="tour-detail">Himalayan Trekking Adventure</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 9,800</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/varanasi-sideimg.jpg" alt="varanasi">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="tour-detail">Spiritual Varanasi Discovery</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 9,200</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item sidebar-helpline">
                            <div class="sidebar-helpline-content">
                                <h3><span style="border-bottom: 2px solid white;padding-bottom: 4px;">Download Your Tour
                                        Guide:</span></h3>
                                <p>Want to know more about your upcoming adventure ? Get all the details you need in one
                                    place. <span style="white-space: nowrap;">Download our tour package PDF here <i
                                            class="fa fa-file"></i></span></p>
                                <!-- <p><i class="fa fa-download"></i> [Download PDF]</p> -->
                                <a href="https://www.enroute-tours.com/downloadpdf?filename=5H-Enroute-Kerala-Houseboat-Highlights.pdf" class="btn-blue btn-red"><i
                                    class="fa fa-download"></i> [Download PDF]</a>
                                <!-- <p><i class="flaticon-mail"></i> tourntravel@testmail.com</p> -->
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-upper">
            <div class="container">
                <div class="newsletter text-center">
                    <div class="section-title section-title-white text-center">
                        <h2>Subscribe Now</h2>
                        <div class="section-icon section-icon-white">
                            <i class="flaticon-diamond"></i>
                        </div>
                        <p>Never Miss an Adventure: Subscribe for Upcoming Tour Updates!</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Email" class="form-control" id="search">
                            <a class="subscribe" href="#"><span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span></a>
                        </div>
                    </form>
                </div>
                <div class="footer-links">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="footer-about footer-margin">
                                <div class="about-logo">
                                    <img style="width: 180px;" src="images/ogLogoEnroute.jpg" alt="Image">
                                </div>
                                <p>Enroute - Explore the Journeys.</p>
                                <div class="about-location">
                                    <ul>
                                        <li><i class="fa fa-building"></i> Nashik</li>
                                        <li><i class="fa fa-phone"></i> <a style="color: white;" href="tel:7447557691">
                                                (091)-7447557691</a></li>
                                        <li><i class="fa fa-envelope"></i> <a style="color: white;"
                                                href="mailto:shivam@enroute-tours.com">shivam@enroute-tours.com</a></li>
                                    </ul>
                                </div>
                                <div class="footer-social-links">
                                    <ul>
                                        <li class="social-icon"><a href="#"><i class="fa fa-facebook"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a target="_blank"
                                                href="https://instagram.com/enroute_explorers?igshid=MzRlODBiNWFlZA=="><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-youtube"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-google"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-links-list footer-margin">
                                <h3>Browse Tour</h3>
                                <ul>
                                    <li><a href="tour-detail">Goa Beach Bliss <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="tour-detail">Ladakh Delight <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="tour-detail">Spiritual Varanasi <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="tour-detail">Ladakh Highlights <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="tour-detail">Royal Rajasthan <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="tour-detail">Cultural Jaipur <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-recent-post footer-margin">
                                <h3>Recent Posts</h3>
                                <ul>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/jaipurTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Perfect Family Trip!</a></h4>
                                                <p>June 17, 2018</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/rajasthanTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Exploring Rajasthan!</a></h4>
                                                <p>Sept 23, 2023</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/goaTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Fantastic Experience!</a></h4>
                                                <p>Sept 24, 2023</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-links-list">
                                <div class="footer-instagram">
                                    <h3>Instagram</h3>
                                    <ul>
                                        <li><img src="images/insta1.jpg" alt="Image"></li>
                                        <li><img src="images/insta2.jpg" alt="Image"></li>
                                        <li><img src="images/insta3.jpg" alt="Image"></li>
                                        <li><img src="images/insta4.jpg" alt="Image"></li>
                                        <li><img src="images/insta5.jpg" alt="Image"></li>
                                        <li><img src="images/insta6.jpg" alt="Image"></li>
                                        <li><img src="images/insta7.jpg" alt="Image"></li>
                                        <li><img src="images/insta8.jpg" alt="Image"></li>
                                        <li><img src="images/insta9.jpg" alt="Image"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright-content">
                            <p>2023 <i class="fa fa-copyright" aria-hidden="true"></i> Designed and Developed by <a
                                    href="https://instagram.com/shubham.pingle?igshid=OGQ5ZDc2ODk2ZA=="
                                    target="_blank">Shubham Pingle</a></p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="payment-content">
                            <ul>
                                <li>We Accept</li>
                                <li>
                                    <img src="images/payment1.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment2.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment3.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment4.png" alt="Image">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->

    <!-- back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>


    <!-- *Scripts* -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main-1.js"></script>
    <script src="js/preloader.js"></script>
    <script src="js/custom-swiper2.js"></script>
    <script>
        $(document).ready(function () {
            // Function to validate the email format
            function isValidEmail(email) {
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(email);
            }

            // Function to validate the phone number format
            function isValidPhoneNumber(phoneNumber) {
                return phoneNumber.length === 10;
            }

            // Function to validate the number format
            function isValidNumber(number) {
                return number > 0;
            }

            // Function to validate the date
            function isValidDate(date) {
                var currentDate = new Date();
                var selectedDate = new Date(date);
                return selectedDate > currentDate;
            }

            // Function to validate the name
            function isValidName(name) {
                return name.trim() !== '';

            }

            // Email validation on blur
            $("#email1").on("blur", function () {
                var email = $(this).val();
                if (!isValidEmail(email)) {
                    alert("Please enter a valid email address.");
                    $("#email1").val('');
                }
            });

            // Phone number validation on blur
            $("#phnumber1").on("blur", function () {
                var phoneNumber = $(this).val();
                if (!isValidPhoneNumber(phoneNumber)) {
                    alert("Please enter a valid phone number.");
                    $("#phnumber1").val('');
                }
            });

            // Date validation on blur
            $("#date").on("blur", function () {
                var date = $(this).val();
                if (!isValidDate(date)) {
                    alert("Please select a date in the future.");
                    $("#date").val('');
                }
            });

            // noOfPeople validation on blur
            $("#phnunber").on("blur", function () {
                var number = $(this).val();
                if (!isValidNumber(number)) {
                    alert("Please select a valid number");
                    $("#phnunber").val('');
                }
            });

            // noOfPeople validation on blur
            $("#Name1").on("blur", function () {
                var name = $(this).val();
                if (!isValidName(name)) {
                    alert("Please select a valid name");
                    $("#Name1").val('');
                }
            });

            $(".btn-blue.btn-red.book-now").click(function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Gather data from form fields
                var name = $("#Name1").val();
                var email = $("#email1").val();
                var phoneNumber1 = $("#phnumber1").val();
                var date = $("#date").val();
                var numberOfExplorers = $("#phnumber").val();
                var message = $("#textarea").val();
                console.log(name);
                // Check if any of the required fields are empty
                if (!name || !email || !phoneNumber1 || !date || !numberOfExplorers) {
                    alert("Please fill in all required fields.");
                    return;
                }
                $(".btn-blue.btn-red.book-now").text("Please wait...");
                // Create a JSON object with the form data
                var formData = {
                    name: name,
                    email: email,
                    phoneNumber1: phoneNumber1,
                    date: date,
                    numberOfExplorers: numberOfExplorers,
                    message: message
                };
                $("#Name1").val('');
                $("#email1").val('');
                $("#phnumber1").val('');
                $("#date").val('');
                $("#phnumber").val('');
                $("#textarea").val('');
                // Send a POST request to your API
                $.ajax({
                    url: 'https://www.enroute-tours.com/bookservice',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        // Handle the API response here (e.g., show a success message)
                        console.log('API Response:', response);

                        // Show a success modal
                        $('#successModal').modal('show');
                        $("#Name1").val('');
                        $("#email1").val('');
                        $("#phnumber1").val('');
                        $("#date").val('');
                        $("#phnumber").val('');
                        $("#textarea").val('');
                        $(".btn-blue.btn-red.book-now").text("Book Now");
                    },
                    error: function (error) {
                        // Handle any errors from the API request
                        console.error('API Error:', error);
                        $(".btn-blue.btn-red.book-now").text("Book Now");
                    }
                });
            });

            // Email validation on blur
            $("#search").on("blur", function () {
                var subscribeEmailValidate = $(this).val();
                if (!isValidEmail(subscribeEmailValidate)) {
                    $("#search").val('');
                    alert("Please enter a valid email address.");
                }
            });

            $(".subscribe").click(function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Gather data from form fields
                var subscribeEmail = $("#search").val();


                console.log(subscribeEmail);
                // Check if any of the required fields are empty
                if (!subscribeEmail) {
                    alert("Please enter your email to subscribe");
                    return;
                }
                $(".subscribe").text("Please wait...");
                // Create a JSON object with the form data
                var formData = {
                    email: subscribeEmail
                };
                $("#search").val('');
                // Send a POST request to your API
                $.ajax({
                    url: 'https://www.enroute-tours.com/subscribe',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        // Handle the API response here (e.g., show a success message)
                        console.log('API Response:', response);

                        // Show a success modal
                        $('#successModal2').modal('show');
                        $("#search").val('');
                        $(".subscribe").html(`<span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span>`);
                    },
                    error: function (error) {
                        // Handle any errors from the API request
                        console.error('API Error:', error);
                        $(".subscribe").html(`<span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span>`);
                    }
                });
            });
        });
    </script>
</body>

</html>