<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Enroute - Cozy-Himachal</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--Flaticons CSS-->
    <link href="font/flaticon.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="css/plugin.css" rel="stylesheet" type="text/css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .font18 {
            font-size: 18px;
        }

        @media only screen and (min-width: 600px) {
            .navbar.navbar-default.navbar-sticky-function {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        .timelineMeals {
            color: rgb(119, 119, 119);
        }

        .inclusionWidth {
            width: 90% !important;
        }

        @media only screen and (max-width: 475px) {
            .breadcrumb-outer h2 {
                font-size: 30px;
            }
        }

        @media only screen and (max-width: 395px) {
            .breadcrumb-outer h2 {
                font-size: 27px;
            }
        }

        @media only screen and (max-width: 428px) {
            .detail-info-content h2 {
                font-size: 25px;
            }
        }

        @media only screen and (max-width: 383px) {
            .detail-info-content h2 {
                font-size: 23px;
            }
        }

        .in_th_brdr_img_030>.carousel-indicators li {
            height: 60px;
        }

        .in_th_brdr_img_030>.carousel-indicators li.active {
            height: 60px;
        }
    </style>
</head>

<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status"></div>
    </div> -->
    <!-- Preloader Ends -->

    <!-- Header -->
    <header>
        <div class="upper-head clearfix">
            <div class="container">
                <div class="contact-info">
                    <p><i class="fa fa-phone"></i> Phone: <a style="color: white;" href="tel:7447557691">
                            (091)-7447557691</a></p>
                    <p><i class="fa fa-envelope"></i> Mail: <a style="color: white;"
                            href="mailto:shivam@enroute-tours.com">shivam@enroute-tours.com</a> </p>
                </div>
                <div class="login-btn pull-right">
                    <a href="#"><i class="fa fa-user-plus"></i> Register</a>
                    <a href="#"><i class="fa fa-unlock-alt"></i> Login</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends -->

    <!-- Navigation Bar -->
    <div class="navigation">
        <div class="container">
            <div class="navigation-content">
                <div class="header_menu">
                    <!-- start Navbar (Header) -->
                    <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">

                        <div class=" pull-left" style="display: flex !important;">
                            <!-- <a href="/home"><img alt="Image" src="images/Yatra-01.png"></a> -->
                            <a href="/"><img width="175" height="60" alt="Image"
                                    src="images/IMG-20230804-WA0008 (2).jpg"></a>
                            <a href="/"><img width="175" height="60" alt="Image" src="images/enroute.jpg"></a>
                        </div>
                        <div id="navbar" class="navbar-nav-wrapper">
                            <ul class="nav navbar-nav" id="responsive-menu">
                                <li class="active">
                                    <a href="/">Home <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="#">Travel</a>
                                        <ul>
                                            <li><a href="/home">Home Slider</a></li>
                                            <li><a href="index-banner.html">Home Banner</a></li>
                                            <li><a href="index-video.html">Home Video</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index-1.html">Travel Style 2</a></li>
                                    <li><a href="index-2.html">Travel Style 3</a></li>
                                    <li><a href="index-3.html">Travel style 4</a></li>
                                    <li><a href="index-4.html">Travel New</a></li>
                                </ul> -->
                                </li>
                                <!-- <li>
                                <a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li>
                                        <a href="#">Destination</a>
                                        <ul>
                                            <li>
                                                <a href="#">Grid View</a>
                                                <ul>
                                                    <li><a href="destination-2col.html">Grid View 2 Col</a></li>
                                                    <li><a href="destination-3col.html">Grid View 3 Col</a></li>
                                                    <li><a href="destination-4col.html">Grid View 4 Col</a></li>
                                                    <li><a href="destination-sidebar.html">Grid with sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">List View</a>
                                                <ul>
                                                    <li><a href="destination-fullwidth.html">List no sidebar</a>
                                                    </li>
                                                    <li><a href="destination-list-sidebar.html">List with
                                                            sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Detail Default</a>
                                        <ul>
                                            <li><a href="#">Detail Default</a></li>
                                            <li><a href="detail-tabs.html">Detail Tabs</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="booking.html">Booking & Payment</a>
                                        <ul>
                                            <li><a href="booking.html">Booking Page</a></li>
                                            <li><a href="booking-confirmation.html">Booking Confirmation</a></li>
                                            <li><a href="payment.html">Payment Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="price-list.html">Price List</a></li>
                                    <li><a href="error.html">Error Page</a></li>
                                    <li><a href="aboutus.html">About Page</a></li>
                                    <li><a href="contactus.html">Contact Us</a></li>
                                </ul>
                            </li> -->
                                <li>
                                    <a href="#">Hotel <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="hotel.html">Hotel Homepage</a></li>
                                    <li> <a href="grid-view.html">Grid View</a></li>
                                    <li><a href="list-view.html">List View</a></li>
                                    <li><a href="hotel-detail.html">Detail Page</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#">Flights<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="flight.html">Flight Homepage</a></li>
                                    <li> <a href="flight-grid-view.html">Grid View</a></li>
                                    <li><a href="flight-list-view.html">List View</a></li>
                                    <li><a href="flight-detail.html">Detail Page</a></li>
                                    <li><a href="flight-booking.html">Booking</a></li>
                                    <li><a href="flight-confirm.html">Thank You</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Cars<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="car-grid-view.html">Car Grid View</a></li>
                                    <li><a href="car-list-view.html">Car List View</a></li>
                                    <li><a href="car-detail.html">Car Detail Page</a></li>
                                    <li><a href="car-booking.html">Payment</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Train<i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li> <a href="cruise-grid-view.html">Cruise Grid View</a></li>
                                    <li><a href="cruise-list-view.html">Cruise List View</a></li>
                                    <li><a href="cruise-detail.html">Cruise Detail Page</a></li>
                                    <li><a href="cruise-booking.html">Payment</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#">Cruise <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="dashboard-my-profile.html">Dashboard Profile</a></li>
                                    <li><a href="dashboard-booking.html">Dashboard Bookings</a></li>
                                    <li><a href="dashboard-history.html">Dashboard History</a></li>
                                    <li><a href="dashboard-list.html">Dashboard Listing</a></li>
                                    <li><a href="dashboard-addtour.html">Dashboard Add Tour</a></li>
                                    <li><a href="dashboard-reviews.html">Dashboard Reviews</a></li>
                                </ul> -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Services <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a>VISA Services</a></li>
                                        <li><a>Travel Insurance</a></li>
                                        <li><a>Passport Assistance</a></li>
                                        <li><a>Train Bookings</a></li>
                                        <li><a>Flight Bookings</a></li>
                                        <li><a>Car Rentals</a></li>
                                        <li><a>Hotel Bookings</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                    <!-- <ul>
                                    <li><a href="blog-list.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-list-1.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-list-2.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-list-3.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-detail.html">Blog Detail Right Sidebar</a></li>
                                    <li><a href="blog-detail-fw.html">Blog Detail Fullwidth</a></li>
                                </ul> -->
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                        <div id="slicknav-mobile"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation Bar Ends -->

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your request has been successfully submitted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal2" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank You for Subscribing to Enroute!.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
        <div class="container">
            <div class="breadcrumb-content">
                <h2> Cozy Himachal</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Destinations</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Cozy Himachal</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <section class="main-content detail">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-8">
                    <div class="detail-content content-wrapper">
                        <div class="detail-info">
                            <div class="detail-info-content clearfix">
                                <h2>10 DAYS / 9 NIGHTS - 6 CITIES</h2>
                                <p class="detail-info-price"><span class="bold" style="font-size: 28px;"><span
                                            class="fa fa-inr"></span> 17,499 /- <i class="fa fa-user-o"
                                            aria-hidden="true"></i></span></p>
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="gallery detail-box">

                            <!-- Paradise Slider -->
                            <div id="in_th_030"
                                class="carousel slide in_th_brdr_img_030 thumb_scroll_x swipe_x ps_easeOutQuint"
                                data-ride="carousel" data-pause="hover" data-interval="4000" data-duration="2000">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#in_th_030" data-slide-to="0">
                                        <!-- 3rd Indicator Image -->
                                        <img src="images/dharamshala.jpg" alt="in_th_030_03_sm" />
                                    </li>
                                    <!-- 1st Indicator -->
                                    <li data-target="#in_th_030" data-slide-to="1" class="active">
                                        <!-- 1st Indicator Image -->
                                        <img src="images/amritsar.jpg" alt="in_th_030_01_sm" />
                                    </li>
                                    <!-- 2nd Indicator -->
                                    <li data-target="#in_th_030" data-slide-to="2">
                                        <!-- 2nd Indicator Image -->
                                        <img src="images/hidimbamata-temple.jpg" alt="in_th_030_02_sm" />
                                    </li>
                                    <!-- 3rd Indicator -->

                                    <li data-target="#in_th_030" data-slide-to="3">
                                        <!-- 3rd Indicator Image -->
                                        <img src="images/shimla.jpg" alt="in_th_030_03_sm" />
                                    </li>
                                </ol> <!-- /Indicators -->
                                <!-- Wrapper For Slides -->
                                <div class="carousel-inner" role="listbox">
                                    <!-- Third Slide -->
                                    <div class="item">
                                        <!-- Slide Background -->
                                        <img src="images/dharamshala.jpg" alt="in_th_030_03" />
                                    </div>
                                    <!-- First Slide -->
                                    <div class="item active">
                                        <!-- Slide Background -->
                                        <img src="images/amritsar.jpg" alt="in_th_030_01" />
                                    </div>
                                    <!-- End of Slide -->
                                    <!-- Second Slide -->
                                    <div class="item">
                                        <!-- Slide Background -->
                                        <img src="images/hidimbamata-temple.jpg" alt="in_th_030_02" />
                                    </div>
                                    <!-- End of Slide -->

                                    <!-- End of Slide -->
                                    <div class="item">
                                        <!-- Slide Background -->
                                        <img src="images/shimla.jpg" alt="in_th_030_03" />
                                    </div>
                                </div> <!-- End of Wrapper For Slides -->
                            </div> <!-- End Paradise Slider -->
                        </div>
                        <div class="description detail-box">
                            <div class="detail-title">
                                <h3>Description</h3>
                            </div>
                            <div class="description-content">

                                <p>
                                    Embark on a captivating journey through Himachal Pradesh with our 'Cozy Himachal'
                                    tour, spanning 9 nights and 10 days. Starting from the vibrant city of Mumbai,
                                    explore the serene beauty of Chandigarh's gardens, the colonial charm of Shimla, the
                                    adventure-filled landscapes of Manali, the spiritual ambiance of Dharamshala, and
                                    the vibrant streets of Amritsar. Immerse yourself in the rich culture and
                                    breathtaking vistas of these six enchanting cities, creating memories to last a
                                    lifetime.! Book your 10-day Cozy Himachal escape now and let the magic unfold!

                                <p class="timelineMeals">Explore Himachal like never before!!!</p>
                                </p>
                                <table>
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="title">Departure</td>
                                            <td><i class="fa fa-map-marker" aria-hidden="true"></i> MUMBAI CENTRAL (MMCT)</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Departure Time</td>
                                            <td><i class="fa fa-clock-o" aria-hidden="true"></i> Around 11:20 AM</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Maximum travellers</td>
                                            <td><i class="fa fa-user-o" aria-hidden="true"></i> 25</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Scheduled Dates</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 26th Apr, 2024</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 10th May, 2024</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 24th May, 2024</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 07th Jun, 2024</li>
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 21st Jun, 2024</li>
                                                    
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Includes</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>To & Fro Sleeper
                                                        Train Ticket </li>
                                                    <li><i class="fa fa-check"
                                                            aria-hidden="true"></i>Accommodation(3-Star Hotel)
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Veg /
                                                        Non Veg Food
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Breakfast & Dinner
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>River Rafting at
                                                        Kullu</li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Manali Sightseeing
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Shimla Sightseeing
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Amritsar
                                                        Sightseeing</li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Manali Sightseeing
                                                    </li>
                                                    <li><i class="fa fa-check" aria-hidden="true"></i>Dharamshala
                                                        Sightseeing</li>
                                                        <li><i class="fa fa-check" aria-hidden="true"></i>Toll, Parking & Driver Allowance</li>

                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Excludes</td>
                                            <td class="excludes">
                                                <ul>
                                                    
                                                    <!-- <li><i class="fa fa-times" aria-hidden="true"></i> Taxes</li> -->
                                                    <!-- <li><i class="fa fa-times" aria-hidden="true"></i>Upgradation in
                                                        Hotels</li> -->
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Personal expenses
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Lunch
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Meal During Train
                                                        Journey</li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Snow Suite and boot : 250/-
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Heater charges
                                                    </li>
                                                   
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Activity Charges
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Portage at Staion/Hotel, Tips, Insurance
                                                    </li>
                                                    <li><i class="fa fa-times" aria-hidden="true"></i>Anything that is not mentioned in Inclusions
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title">Popular Places</td>
                                            <td>
                                                <ul>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Chandigarh
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Shimla
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Manali
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Dharamshala
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        Amritsar
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="location-map detail-box">
                            <div class="detail-title">
                                <h3>Detailed Location Map</h3>
                            </div>
                            <div class="map-frame">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d29760186.474783793!2d63.285100490692564!3d24.421790045904473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!3m2!1d19.0759837!2d72.8776559!4m5!1s0x391069a660696aef%3A0x3bc789e57615106b!2sChandigarh%2C%20Punjab!3m2!1d30.5389944!2d75.95503289999999!4m5!1s0x390578e3e35d6e67%3A0x1f7e7ff6ff9f54b7!2sShimla%2C%20Himachal%20Pradesh!3m2!1d31.1048145!2d77.17340329999999!4m5!1s0x39048708163fd03f%3A0x8129a80ebe5076cd!2sManali%2C%20Himachal%20Pradesh!3m2!1d32.2431872!2d77.1891761!4m5!1s0x391b50df65bd7311%3A0x3e08bdb100c6dc10!2sDharamshala%2C%20Himachal%20Pradesh!3m2!1d32.219042!2d76.3234037!4m5!1s0x391964aa569e7355%3A0xeea2605bee84ef7d!2sAmritsar%2C%20Punjab!3m2!1d31.6339793!2d74.8722642!5e0!3m2!1sen!2sin!4v1715544032568!5m2!1sen!2sin"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="detail-timeline detail-box">
                            <div class="detail-title">
                                <h3>Tour Timeline</h3>
                            </div>
                            <div class="timeline-content">
                                <ul class="timeline">
                                    <!-- Item 1 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>1</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 1: Mumbai - Chandigarh </span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Gather at Mumbai Central (MMCT) before 11:25 am to catch the 12925
                                                    Paschim Express departing for Chandigarh (CDG). Spend the full day
                                                    on the train, offering ample time for networking and mingling with
                                                    fellow travelers. The journey itself becomes a highlight as you bond
                                                    with like-minded individuals, forging genuine friendships along the
                                                    way. Enjoy an overnight journey on the train, filled with
                                                    anticipation for the adventures awaiting you in Chandigarh.</p>
                                                <p class="timelineMeals"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 2 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>2</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 2: Arrival At Chandigarh</span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Upon arrival at Chandigarh Railway station, you'll be greeted by our
                                                    representative who will accompany you to Shimla. Depending on
                                                    traffic, you'll reach Shimla by evening and check into your hotel
                                                    for some rest and freshening up. You can either relax at the hotel
                                                    or venture out to explore the city on your own. Enjoy dinner and
                                                    spend the night in Shimla.</p>

                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 3 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>3</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 3: Shimla - Journey to Manali

                                                </span>
                                            </div>
                                            <div class="desc">
                                                <p>After a hearty breakfast, bid farewell to Shimla as you embark on an
                                                    exciting excursion to Kufri, known for its panoramic views and
                                                    adventurous activities. The highest hill in Shimla,
                                                    Kufri offers a breathtaking view of the surrounding mountains and
                                                    valleys. Spend your morning exploring the lush landscapes and
                                                    vibrant flora of the Himalaya Nature Park, where you may encounter
                                                    rare Himalayan bird species in their natural habitat. Later, return
                                                    to Shimla and wander through the lanes of Mall Road, where
                                                    you can shop for souvenirs and handicrafts to commemorate your
                                                    visit. As the day draws to a close, board your overnight journey to
                                                    Manali, filled with anticipation for the next leg of your Himalayan
                                                    odyssey.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Item 4 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>4</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 4: Manali</span>
                                            </div>
                                            <div class="desc">
                                                <p>Awaken to the crisp mountain air as you arrive in Manali, the gateway
                                                    to the Himalayas. Check into your cozy hotel accommodation and take
                                                    a moment to relax . After breakfast, set out to explore the cultural
                                                    and spiritual heritage of Manali, starting with a visit to the
                                                    revered Hadimba Devi Temple, the wife of Bhima from Mahabharat.
                                                    Marvel at the intricate wooden architecture and serene surroundings
                                                    . Continue your explorations with a visit to the tranquil Vashisht
                                                    Kund, a sacred hot spring known for its therapeutic properties.
                                                    Immerse yourself in the tranquility of the Tibetan Monastery and
                                                    browse through the exquisite handicrafts at the nearby center. With
                                                    the evening at leisure, take a leisurely stroll along the bustling
                                                    Mall Road, where you can shop for local specialties and souvenirs to
                                                    take home. Return to your hotel for a dinner followed by a restful
                                                    overnight stay.
                                                </p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>5</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 5: Solang Valley - Atal Tunnel</span>
                                            </div>
                                            <div class="desc">
                                                <p>Rise early to embrace the thrill of adventure as you embark on a
                                                    journey to Solang Valley, a veritable paradise for adrenaline
                                                    junkies and nature lovers alike. Depending on the road and weather
                                                    conditions, you'll traverse the scenic route to reach the Snow
                                                    Point, where pristine snow-capped peaks and glistening glaciers
                                                    beckon. Indulge in exciting activities, from skiing and zip-lining
                                                    to zorbing and paragliding Paragliding(on your own charges), as you
                                                    revel in the unparalleled beauty of your surroundings. Feel the rush
                                                    of adrenaline as you soar through the skies or glide effortlessly
                                                    over the snowy terrain, creating memories to last a lifetime. After
                                                    an action-packed day of adventure, return to your hotel in Manali,
                                                    where you can unwind and reflect on the day's experiences over a
                                                    dinner and have overnight stay at hotel.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>6</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 6: Manali - Dharamshala </span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Start your day with an early departure from your hotel in Manali as
                                                    you embark on the journey to Dharamshala. Along the scenic route,
                                                    immerse yourself in the thrill of river rafting, adding an extra
                                                    dash of excitement to your adventure. By evening, arrive in
                                                    Dharamshala, where the serene beauty of the Bagshunag Temple and the
                                                    spiritual aura of the Dalai Lama Monastery (if operational) await
                                                    you. Indulge in a delightful dinner and retreat to your hotel for a
                                                    restful night's sleep, surrounded by the tranquil ambiance of
                                                    Dharamshala.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>7</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 7: Dharamshala - Amritsar</span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Bid adieu to Dharamshala as you check out from your hotel and make
                                                    your way to Amritsar. En route, explore the sacred grounds of Bagshu
                                                    Naag Temple, bask in the spiritual tranquility of the Dalai Lama
                                                    Monastery (if operational), and immerse yourself in the vibrant
                                                    atmosphere of Mcleod Ganj Market and Cricket Stadium (if
                                                    operational). Upon reaching Amritsar, settle into your hotel and
                                                    treat yourself to a hearty dinner before retiring for the night.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>8</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 8: Amritsar </span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    Awaken to a day filled with exploration as you embark on a
                                                    captivating tour of Amritsar's iconic landmarks. Marvel at the
                                                    resplendent beauty of the Golden Temple during the day, soaking in
                                                    its serene ambiance and spiritual significance. Pay homage to the
                                                    martyrs of India's struggle for independence at the historic
                                                    Jallianwala Bagh, where the echoes of history resonate deeply. In
                                                    the evening, witness the electrifying energy of the Wagah Border
                                                    ceremony, a patriotic spectacle that leaves a lasting impression.
                                                    Conclude your day with some leisurely shopping, indulging in the
                                                    vibrant local culture before returning to your hotel for a cozy
                                                    dinner and a peaceful night's rest.</p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>9</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 9: Amritsar - Mumbai</span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    As your journey draws to a close, bid farewell to Amritsar and
                                                    embark on your return journey home. Check out from your hotel and
                                                    make your way to Amritsar Railway Station, where you'll board the
                                                    train for your homeward bound adventure. Settle in for the overnight
                                                    journey, reminiscing about the cherished memories and unforgettable
                                                    experiences of your tour.
                                                </p>
                                                <p class="timelineMeals">Meals - Breakfast & Dinner </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="direction-r">
                                            <div class="day-wrapper">
                                                <span>10</span>
                                            </div>
                                            <div class="flag-wrapper">
                                                <span class="flag">Day 10: Manali - Dharamshala </span>
                                            </div>
                                            <div class="desc">
                                                <p>
                                                    As the train pulls into Mumbai, you bid adieu to the enchanting
                                                    landscapes and cultural wonders of Himachal Pradesh and Punjab. With
                                                    sweet memories and newfound friendships, you disembark, enriched by
                                                    the experiences of your incredible journey.
                                                </p>
                                                <p>We would like to thank
                                                    you for giving us the opportunity to serve you, looking forward to
                                                    more opportunities to serve you.
                                                    TOUR CONCLUDES !!
                                                </p>
                                                <!-- <p class="timelineMeals">Meals - Breakfast & Dinner </p> -->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-attractions detail-box">
                            <div class="detail-title">
                                <h3>Hotels and Accommodation</h3>
                            </div>
                            <div class="top-attraction-content">
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/jessica shillong.jpg" alt="jessica shillong">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Shillong - Hotel Jessica Residency or similar </h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <!-- <li><i class="fa fa-check" aria-hidden="true"></i> Restaurant Bar</li> -->
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 3800</span>
                                                included!</p>
                                            <p>3 nights / 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/dhanshree-resort-kaziranga4.jpg"
                                            alt="dhanshree-resort-kaziranga4">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Kaziranga- Dhanashree Resort or similar </h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Laundry Services
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 2500</span>
                                                included!</p>
                                            <p>2 nights / 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/ornate guwahati.jpeg" alt="ornate guwahati">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Guwahati - The Ornate or similar</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Restaurant Bar</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 4000</span>
                                                included!</p>
                                            <p>1 night / 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/AlleppeyDeluxe Houseboat.jpg" alt="AlleppeyDeluxe Houseboat">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Alleppey  Deluxe Houseboat</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Swimming Pool</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Restaurant Bar</li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 2100</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="att-item clearfix">
                                    <div class="att-image">
                                        <img src="images/Poovar Leela Backwaters Inn.jpg"
                                            alt="Poovar Leela Backwaters Inn">
                                    </div>
                                    <div class="att-content">
                                        <div class="att-content-left">
                                            <h4>Poovar  Leela Backwaters Inn or similar</h4>
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i> Daily Housekeeping
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="att-content-right">
                                            <p>Worth <span class="bold"><span class="fa fa-inr"></span> 3000</span>
                                                included!</p>
                                            <p> 4 <i class="fa fa-user-o" aria-hidden="true"></i> per room</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="comments detail-box">
                            <div class="detail-title">
                                <h3>Comments</h3>
                            </div>
                            <div class="comment-content">
                                <div class="comment-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <div class="comment-image">
                                                <img src="images/anvi.jpg" alt="Images">
                                                <h4><a href="#">Anvi Kharote</a></h4>
                                                <span class="comment-date">(23 Sept 2023)</span>
                                                <a class="btn-blue btn-red" href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-8">
                                            <div class="comment-desc">
                                                <span class="travel-date"> Travelled On : 8th September 2023</span>
                                                <div class="deal-rating">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <p>Loved every moment of this tour! From the breathtaking landscapes to
                                                    the immersive cultural experiences, it was a journey of a lifetime.
                                                    Can't wait to embark on another adventure with Enroute! </p>
                                            </div>
                                            <div class="comment-item comment-reply">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-4">
                                                        <div class="comment-image">
                                                            <img src="images/shivam.jpg" alt="Images">
                                                            <h4><a href="#">Shivam Rajapurkar</a></h4>
                                                            <span class="comment-date">(23 Sept 2023)</span>
                                                            <!-- <a class="btn-blue btn-red" href="#">Reply</a> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="comment-desc">
                                                            <!-- <span class="travel-date"> Travelled On : 25 March
                                                                2018</span> -->
                                                            <div class="deal-rating">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </div>
                                                            <p>Thank you so much Anvi for your kind words! We're
                                                                thrilled to hear that you had an amazing time on our
                                                                tour. Join us again for more adventures in the future!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments-form detail-box">
                            <div class="detail-title">
                                <h3>Add Your Comment</h3>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="textarea form-group col-xs-12">
                                        <label for="Name">Your Comment:</label>
                                        <textarea></textarea>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="Name">Name:</label>
                                        <input type="email" class="form-control" id="Name">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="email">Email address:</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <!-- <div class="form-group col-xs-12">
                                        <label for="website">Website:</label>
                                        <input type="email" class="form-control" id="website">
                                    </div> -->
                                    <div class="col-xs-12">
                                        <div class="comment-btn">
                                            <a href="#" class="btn-blue btn-red">Submit Comment</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="sidebar-sticky" class="col-md-4">
                    <aside class="detail-sidebar sidebar-wrapper">
                        <div class="sidebar-item sidebar-item-dark">
                            <div class="detail-title">
                                <h3>Book this tour</h3>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <input type="text" class="form-control" id="Name1" placeholder="Name">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="email" class="form-control" id="email1" placeholder="Email">
                                    </div>
                                    <div class="form-group col-xs-6 col-left-padding">
                                        <input type="number" class="form-control" id="phnumber1"
                                            placeholder="Phone Number">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                    <div class="form-group col-xs-6 col-left-padding">
                                        <input type="number" placeholder="No of Explorers" class="form-control" min="1"
                                            max="500" id="phnumber">
                                    </div>
                                    <div class="textarea col-xs-12">
                                        <textarea placeholder="Any message for us ?" id="textarea"></textarea>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="comment-btn">
                                            <a class="btn-blue btn-red book-now">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-item">
                            <div class="detail-title">
                                <h3>Popular Packages</h3>
                            </div>
                            <div class="sidebar-content sidebar-slider">

                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/jaipur-sideimg.jpg" alt="Jaipur">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="#">Cultural Odyssey in Jaipur</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 8,500</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/himalaya-sideimg.jpg" alt="Himalaya">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="#">Himalayan Trekking Adventure</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 9,800</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                                <div class="sidebar-package">
                                    <div class="sidebar-package-image">
                                        <img src="images/varanasi-sideimg.jpg" alt="varanasi">
                                    </div>
                                    <div class="destination-content sidebar-package-content">
                                        <h4><a href="#">Spiritual Varanasi Discovery</a></h4>
                                        <div class="deal-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        <p><i class="flaticon-time"></i> 4 days starts from <span class="bold"><span
                                                    class="fa fa-inr"> 9,200</span> </p>
                                        <a href="#" class="btn-blue btn-red">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item sidebar-helpline">
                            <div class="sidebar-helpline-content">
                                <h3><span style="border-bottom: 2px solid white;padding-bottom: 4px;">Download Your Tour
                                        Guide:</span></h3>
                                <p>Want to know more about your upcoming adventure ? Get all the details you need in one
                                    place. <span style="white-space: nowrap;">Download our tour package PDF here <i
                                            class="fa fa-file"></i></span></p>
                                <!-- <p><i class="fa fa-download"></i> [Download PDF]</p> -->
                                <a href="https://www.enroute-tours.com/downloadpdf?filename=Cozy-Himachal.pdf"
                                    class="btn-blue btn-red"><i class="fa fa-download"></i> [Download PDF]</a>
                                <!-- <p><i class="flaticon-mail"></i> tourntravel@testmail.com</p> -->
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-upper">
            <div class="container">
                <div class="newsletter text-center">
                    <div class="section-title section-title-white text-center">
                        <h2>Subscribe Now</h2>
                        <div class="section-icon section-icon-white">
                            <i class="flaticon-diamond"></i>
                        </div>
                        <p>Never Miss an Adventure: Subscribe for Upcoming Tour Updates!</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Email" class="form-control" id="search">
                            <a class="subscribe" href="#"><span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span></a>
                        </div>
                    </form>
                </div>
                <div class="footer-links">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="footer-about footer-margin">
                                <div class="about-logo">
                                    <img style="width: 180px;" src="images/ogLogoEnroute.jpg" alt="Image">
                                </div>
                                <p>Enroute - Explore the Journeys.</p>
                                <div class="about-location">
                                    <ul>
                                        <li><i class="fa fa-building"></i> Nashik</li>
                                        <li><i class="fa fa-phone"></i> <a style="color: white;" href="tel:7447557691">
                                                (091)-7447557691</a></li>
                                        <li><i class="fa fa-envelope"></i> <a style="color: white;"
                                                href="mailto:shivam@enroute-tours.com">shivam@enroute-tours.com</a></li>
                                    </ul>
                                </div>
                                <div class="footer-social-links">
                                    <ul>
                                        <li class="social-icon"><a href="#"><i class="fa fa-facebook"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a target="_blank"
                                                href="https://instagram.com/enroute_explorers?igshid=MzRlODBiNWFlZA=="><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-youtube"
                                                    aria-hidden="true"></i></a></li>
                                        <li class="social-icon"><a href="#"><i class="fa fa-google"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-links-list footer-margin">
                                <h3>Browse Tour</h3>
                                <ul>
                                    <li><a href="#">Goa Beach Bliss <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#">Ladakh Delight <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="#">Spiritual Varanasi <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#">Ladakh Highlights <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="#">Royal Rajasthan <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="#">Cultural Jaipur <i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-recent-post footer-margin">
                                <h3>Recent Posts</h3>
                                <ul>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/jaipurTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Perfect Family Trip!</a></h4>
                                                <p>June 17, 2018</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/rajasthanTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Exploring Rajasthan!</a></h4>
                                                <p>Sept 23, 2023</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="recent-post-item">
                                            <div class="recent-post-image">
                                                <img src="images/goaTourist-6.jpg" alt="Image">
                                            </div>
                                            <div class="recent-post-content">
                                                <h4><a href="#">Fantastic Experience!</a></h4>
                                                <p>Sept 24, 2023</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-links-list">
                                <div class="footer-instagram">
                                    <h3>Instagram</h3>
                                    <ul>
                                        <li><img src="images/insta1.jpg" alt="Image"></li>
                                        <li><img src="images/insta2.jpg" alt="Image"></li>
                                        <li><img src="images/insta3.jpg" alt="Image"></li>
                                        <li><img src="images/insta4.jpg" alt="Image"></li>
                                        <li><img src="images/insta5.jpg" alt="Image"></li>
                                        <li><img src="images/insta6.jpg" alt="Image"></li>
                                        <li><img src="images/insta7.jpg" alt="Image"></li>
                                        <li><img src="images/insta8.jpg" alt="Image"></li>
                                        <li><img src="images/insta9.jpg" alt="Image"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright-content">
                            <p>2023 <i class="fa fa-copyright" aria-hidden="true"></i> Designed and Developed by <a
                                    href="https://instagram.com/shubham.pingle?igshid=OGQ5ZDc2ODk2ZA=="
                                    target="_blank">Shubham Pingle</a></p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="payment-content">
                            <ul>
                                <li>We Accept</li>
                                <li>
                                    <img src="images/payment1.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment2.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment3.png" alt="Image">
                                </li>
                                <li>
                                    <img src="images/payment4.png" alt="Image">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->

    <!-- back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>


    <!-- *Scripts* -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main-1.js"></script>
    <script src="js/preloader.js"></script>
    <script src="js/custom-swiper2.js"></script>
    <script>
        $(document).ready(function () {
            // Function to validate the email format
            function isValidEmail(email) {
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(email);
            }

            // Function to validate the phone number format
            function isValidPhoneNumber(phoneNumber) {
                return phoneNumber.length === 10;
            }

            // Function to validate the number format
            function isValidNumber(number) {
                return number > 0;
            }

            // Function to validate the date
            function isValidDate(date) {
                var currentDate = new Date();
                var selectedDate = new Date(date);
                return selectedDate > currentDate;
            }

            // Function to validate the name
            function isValidName(name) {
                return name.trim() !== '';

            }

            // Email validation on blur
            $("#email1").on("blur", function () {
                var email = $(this).val();
                if (!isValidEmail(email)) {
                    alert("Please enter a valid email address.");
                    $("#email1").val('');
                }
            });

            // Phone number validation on blur
            $("#phnumber1").on("blur", function () {
                var phoneNumber = $(this).val();
                if (!isValidPhoneNumber(phoneNumber)) {
                    alert("Please enter a valid phone number.");
                    $("#phnumber1").val('');
                }
            });

            // Date validation on blur
            $("#date").on("blur", function () {
                var date = $(this).val();
                if (!isValidDate(date)) {
                    alert("Please select a date in the future.");
                    $("#date").val('');
                }
            });

            // noOfPeople validation on blur
            $("#phnunber").on("blur", function () {
                var number = $(this).val();
                if (!isValidNumber(number)) {
                    alert("Please select a valid number");
                    $("#phnunber").val('');
                }
            });

            // noOfPeople validation on blur
            $("#Name1").on("blur", function () {
                var name = $(this).val();
                if (!isValidName(name)) {
                    alert("Please select a valid name");
                    $("#Name1").val('');
                }
            });

            $(".btn-blue.btn-red.book-now").click(function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Gather data from form fields
                var name = $("#Name1").val();
                var email = $("#email1").val();
                var phoneNumber1 = $("#phnumber1").val();
                var date = $("#date").val();
                var numberOfExplorers = $("#phnumber").val();
                var message = $("#textarea").val();
                console.log(name);
                // Check if any of the required fields are empty
                if (!name || !email || !phoneNumber1 || !date || !numberOfExplorers) {
                    alert("Please fill in all required fields.");
                    return;
                }
                $(".btn-blue.btn-red.book-now").text("Please wait...");
                // Create a JSON object with the form data
                var formData = {
                    name: name,
                    email: email,
                    phoneNumber1: phoneNumber1,
                    date: date,
                    numberOfExplorers: numberOfExplorers,
                    message: message
                };
                $("#Name1").val('');
                $("#email1").val('');
                $("#phnumber1").val('');
                $("#date").val('');
                $("#phnumber").val('');
                $("#textarea").val('');
                // Send a POST request to your API
                $.ajax({
                    url: 'https://www.enroute-tours.com/bookservice',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        // Handle the API response here (e.g., show a success message)
                        console.log('API Response:', response);

                        // Show a success modal
                        $('#successModal').modal('show');
                        $("#Name1").val('');
                        $("#email1").val('');
                        $("#phnumber1").val('');
                        $("#date").val('');
                        $("#phnumber").val('');
                        $("#textarea").val('');
                        $(".btn-blue.btn-red.book-now").text("Book Now");
                    },
                    error: function (error) {
                        // Handle any errors from the API request
                        console.error('API Error:', error);
                        $(".btn-blue.btn-red.book-now").text("Book Now");
                    }
                });
            });

            // Email validation on blur
            $("#search").on("blur", function () {
                var subscribeEmailValidate = $(this).val();
                if (!isValidEmail(subscribeEmailValidate)) {
                    $("#search").val('');
                    alert("Please enter a valid email address.");
                }
            });

            $(".subscribe").click(function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Gather data from form fields
                var subscribeEmail = $("#search").val();


                console.log(subscribeEmail);
                // Check if any of the required fields are empty
                if (!subscribeEmail) {
                    alert("Please enter your email to subscribe");
                    return;
                }
                $(".subscribe").text("Please wait...");
                // Create a JSON object with the form data
                var formData = {
                    email: subscribeEmail
                };
                $("#search").val('');
                // Send a POST request to your API
                $.ajax({
                    url: 'https://www.enroute-tours.com/subscribe',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        // Handle the API response here (e.g., show a success message)
                        console.log('API Response:', response);

                        // Show a success modal
                        $('#successModal2').modal('show');
                        $("#search").val('');
                        $(".subscribe").html(`<span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span>`);
                    },
                    error: function (error) {
                        // Handle any errors from the API request
                        console.error('API Error:', error);
                        $(".subscribe").html(`<span class="search_btn"><i class="fa fa-paper-plane"
                                        aria-hidden="true"></i>
                                    Subscribe</span>`);
                    }
                });
            });
        });
    </script>
</body>

</html>